@{ ViewData["Title"] = "Add Setting"; }
<div class="row justify-content-center"><div class="col-md-5"><div class="card p-4">
  <h4>Add Setting</h4><hr/>
  <form method="post">
    <div class="mb-3"><label class="form-label">Key</label><input name="SettingKey" class="form-control" required /></div>
    <div class="mb-3"><label class="form-label">Value</label><input name="SettingValue" class="form-control" required /></div>
    <button type="submit" class="btn btn-success">Create</button>
    <a href="/Config/Settings" class="btn btn-outline-secondary ms-2">Cancel</a>
  </form>
</div></div></div>
