@model SWD392_MVC.Models.Setting
@{ ViewData["Title"] = "Edit Setting"; }
<div class="row justify-content-center"><div class="col-md-5"><div class="card p-4">
  <h4>Edit Setting</h4><hr/>
  <form method="post">
    <input type="hidden" name="SettingId" value="@Model.SettingId"/>
    <div class="mb-3"><label class="form-label">Key</label><input name="SettingKey" value="@Model.SettingKey" class="form-control" /></div>
    <div class="mb-3"><label class="form-label">Value</label><input name="SettingValue" value="@Model.SettingValue" class="form-control" /></div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/Config/Settings" class="btn btn-outline-secondary ms-2">Cancel</a>
  </form>
</div></div></div>
