USE [OnlineShopDB]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK__Users__RoleId__5070F446]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK__Products__Catego__5812160E]
GO
ALTER TABLE [dbo].[Posts] DROP CONSTRAINT [FK__Posts__AuthorId__5CD6CB2B]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK__Orders__UserId__6477ECF3]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK__Orders__SaleId__656C112C]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Produ__693CA210]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK__OrderItem__Order__68487DD7]
GO
ALTER TABLE [dbo].[Feedbacks] DROP CONSTRAINT [FK_Feedbacks_Orders]
GO
ALTER TABLE [dbo].[Feedbacks] DROP CONSTRAINT [FK__Feedbacks__UserI__6E01572D]
GO
ALTER TABLE [dbo].[Feedbacks] DROP CONSTRAINT [FK__Feedbacks__Produ__6EF57B66]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__4F7CD00D]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__Status__4E88ABD4]
GO
ALTER TABLE [dbo].[Sliders] DROP CONSTRAINT [DF__Sliders__Status__5FB337D6]
GO
ALTER TABLE [dbo].[Settings] DROP CONSTRAINT [DF__Settings__Status__71D1E811]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Create__571DF1D5]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Status__5629CD9C]
GO
ALTER TABLE [dbo].[ProductCategories] DROP CONSTRAINT [DF__ProductCa__Statu__534D60F1]
GO
ALTER TABLE [dbo].[Posts] DROP CONSTRAINT [DF__Posts__CreatedAt__5BE2A6F2]
GO
ALTER TABLE [dbo].[Posts] DROP CONSTRAINT [DF__Posts__Status__5AEE82B9]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Status__6383C8BA]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__OrderDat__628FA481]
GO
ALTER TABLE [dbo].[Feedbacks] DROP CONSTRAINT [DF__Feedbacks__Creat__6D0D32F4]
GO
ALTER TABLE [dbo].[Feedbacks] DROP CONSTRAINT [DF__Feedbacks__Statu__6C190EBB]
GO
/****** Object:  Index [UQ__Users__A9D105349C158BF4]    Script Date: 3/20/2026 12:42:08 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__A9D105349C158BF4]
GO
/****** Object:  Index [UQ__Roles__8A2B61608165764E]    Script Date: 3/20/2026 12:42:08 AM ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ__Roles__8A2B61608165764E]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sliders]') AND type in (N'U'))
DROP TABLE [dbo].[Sliders]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Settings]') AND type in (N'U'))
DROP TABLE [dbo].[Settings]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductCategories]') AND type in (N'U'))
DROP TABLE [dbo].[ProductCategories]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Posts]') AND type in (N'U'))
DROP TABLE [dbo].[Posts]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
DROP TABLE [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 3/20/2026 12:42:08 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedbacks]') AND type in (N'U'))
DROP TABLE [dbo].[Feedbacks]
GO
USE [master]
GO
/****** Object:  Database [OnlineShopDB]    Script Date: 3/20/2026 12:42:08 AM ******/
DROP DATABASE [OnlineShopDB]
GO
/****** Object:  Database [OnlineShopDB]    Script Date: 3/20/2026 12:42:08 AM ******/
CREATE DATABASE [OnlineShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\OnlineShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\OnlineShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineShopDB]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ProductId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[OrderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[SaleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[AuthorId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NULL,
	[SettingValue] [nvarchar](255) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Link] [nvarchar](255) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/20/2026 12:42:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[RoleId] [int] NOT NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackId], [UserId], [ProductId], [Content], [Rating], [Status], [CreatedAt], [OrderId]) VALUES (1, 4, 1, N'Laptop rất tốt!', 5, 1, CAST(N'2026-03-16T10:17:15.983' AS DateTime), NULL)
INSERT [dbo].[Feedbacks] ([FeedbackId], [UserId], [ProductId], [Content], [Rating], [Status], [CreatedAt], [OrderId]) VALUES (2, 5, 10, N'Sách rất hay', 5, 1, CAST(N'2026-03-16T10:17:15.983' AS DateTime), NULL)
INSERT [dbo].[Feedbacks] ([FeedbackId], [UserId], [ProductId], [Content], [Rating], [Status], [CreatedAt], [OrderId]) VALUES (3, 4, 1, N'Laptop rất mạnh và mượt', 5, 1, CAST(N'2026-03-16T10:40:53.347' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price]) VALUES (1, 1, 1, 1, CAST(35000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price]) VALUES (2, 2, 1, 1, CAST(35000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price]) VALUES (3, 3, 4, 1, CAST(28000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [TotalAmount], [Status], [SaleId]) VALUES (1, 4, CAST(N'2026-03-16T10:17:15.973' AS DateTime), CAST(35000000.00 AS Decimal(18, 2)), N'Submitted', NULL)
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [TotalAmount], [Status], [SaleId]) VALUES (2, 4, CAST(N'2026-03-16T10:36:39.420' AS DateTime), CAST(35000000.00 AS Decimal(18, 2)), N'Submitted', 3)
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [TotalAmount], [Status], [SaleId]) VALUES (3, 5, CAST(N'2026-03-15T10:36:39.420' AS DateTime), CAST(28000000.00 AS Decimal(18, 2)), N'Confirmed', 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostId], [Title], [Content], [AuthorId], [Status], [CreatedAt]) VALUES (1, N'Chào mừng đến với cửa hàng', N'Khuyến mãi lớn tuần này! abczyx', 2, 1, CAST(N'2026-03-16T10:17:15.967' AS DateTime))
INSERT [dbo].[Posts] ([PostId], [Title], [Content], [AuthorId], [Status], [CreatedAt]) VALUES (3, N'Top 5 điện thoại đáng mua 2026', N'Danh sách smartphone tốt nhất.', 2, 1, CAST(N'2026-03-16T10:40:53.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([CategoryId], [CategoryName], [Status]) VALUES (1, N'Electronics', 1)
INSERT [dbo].[ProductCategories] ([CategoryId], [CategoryName], [Status]) VALUES (2, N'Books', 1)
INSERT [dbo].[ProductCategories] ([CategoryId], [CategoryName], [Status]) VALUES (3, N'Clothes', 1)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Quantity], [CategoryId], [ImageUrl], [Status], [CreatedAt]) VALUES (1, N'Laptop Dell XPS 13', N'Laptop cao cấp cho lập trình viên', CAST(35000000.00 AS Decimal(18, 2)), 10, 4, N'https://images.unsplash.com/photo-1593642702821-c8da6771f0c6', 1, CAST(N'2026-03-16T10:17:15.963' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Quantity], [CategoryId], [ImageUrl], [Status], [CreatedAt]) VALUES (2, N'Macbook Pro M3', N'Laptop Apple hiệu năng cao', CAST(52000000.00 AS Decimal(18, 2)), 8, 4, N'https://images.unsplash.com/photo-1517336714731-489689fd1ca8', 1, CAST(N'2026-03-16T10:17:15.963' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Quantity], [CategoryId], [ImageUrl], [Status], [CreatedAt]) VALUES (3, N'Laptop Asus ROG', N'Laptop gaming mạnh mẽ', CAST(42000000.00 AS Decimal(18, 2)), 7, 4, N'https://images.unsplash.com/photo-1603302576837-37561b2e2302', 1, CAST(N'2026-03-16T10:17:15.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (5, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Customer')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Marketing')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([SettingId], [SettingKey], [SettingValue], [Status]) VALUES (1, N'SiteName', N'Online Shop', 1)
INSERT [dbo].[Settings] ([SettingId], [SettingKey], [SettingValue], [Status]) VALUES (2, N'SupportEmail', N'support@shop.com', 1)
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([SliderId], [Title], [ImageUrl], [Link], [Status]) VALUES (1, N'Big Sale', N'https://images.unsplash.com/photo-1607082349566-187342175e2f', N'/Products', 1)
INSERT [dbo].[Sliders] ([SliderId], [Title], [ImageUrl], [Link], [Status]) VALUES (2, N'Flash Sale - Up to 50% Off', N'https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da?w=1200&q=80', N'/Product/Index', 1)
INSERT [dbo].[Sliders] ([SliderId], [Title], [ImageUrl], [Link], [Status]) VALUES (3, N'New Arrivals - Laptops & Tech', N'https://images.unsplash.com/photo-1496181133206-80ce9b88a853?w=1200&q=80', N'/Product/Index?categoryId=1', 1)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleId], [Status], [CreatedAt]) VALUES (1, N'Admin User', N'admin@shop.com', N'123', N'0123456789', N'Hà Nội', 5, 1, CAST(N'2026-03-16T10:17:15.950' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleId], [Status], [CreatedAt]) VALUES (2, N'Marketing User', N'mkt@shop.com', N'123', N'0123456788', N'Hà Nội', 2, 1, CAST(N'2026-03-16T10:17:15.950' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Phone], [Address], [RoleId], [Status], [CreatedAt]) VALUES (3, N'Sale User', N'sale@shop.com', N'123', N'0123456787', N'Hà Nội', 3, 1, CAST(N'2026-03-16T10:17:15.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61608165764E]    Script Date: 3/20/2026 12:42:09 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349C158BF4]    Script Date: 3/20/2026 12:42:09 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Submitted') FOR [Status]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductCategories] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Sliders] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([SaleId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
USE [master]
GO
